<div id="comment-<%= comment.id %>" style="border: 1px solid black; padding: 1em; margin: 1em">
  <%= comment.user&.email %> <br>
  <% if (comment.updated_at - comment.created_at) > 1 %>
    <span>Editado: <%= time_ago_in_words(comment.updated_at) %></span>
  <% else %>
    <span>Postado: <%= time_ago_in_words(comment.created_at) %></span>
  <% end %>
  <% if current_user == comment.user %>
    <div class="btn-group float-end">
        <%= link_to "Edit", nil, remote: true, class: "btn btn-warning" %>
      <%= button_to "Delete", [@post, comment], class: "btn btn-danger", method: :delete %>
    </div>
  <% end %>

    <div id="edit-form-<%= comment.id %>" class="d-none">
        <%= render "comments/form", post: @post, comment: Comment.new %>
    </div>
  <hr>

  <%= comment.body %>

    <div id="comment-body-<%= comment.id %>" class="d-none">
        <%= comment.body %>
    </div>


</div>